<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>iMovie-Mediathek 2</string>
	<key>libraryID</key>
	<string>D92CC1BE-EC27-48CC-876E-0A32E77030E7</string>
</dict>
</plist>
