<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/d045365/Documents/private/Abut/Resources/Video/iPhone8/final/iPhone8.mp4</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAAJg4Jj2LlJJCeqQuH5twUryVVzF8Mw4sNe5hI6xotpDxqAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUABAAAAAEBAABBYnV0CQAAAAEBAABS
	ZXNvdXJjZXMAAAAFAAAAAQEAAFZpZGVvAAAABwAAAAEBAABpUGhvbmU4AAUAAAABAQAA
	ZmluYWwAAAALAAAAAQEAAGlQaG9uZTgubXA0ACgAAAABBgAAEAAAACAAAAAwAAAARAAA
	AFQAAABgAAAAdAAAAIQAAACUAAAApAAAAAgAAAAEAwAA1soJAAAAAAAIAAAABAMAAKs2
	DwAAAAAACAAAAAQDAAC4Ng8AAAAAAAgAAAAEAwAApiYcAAAAAAAIAAAABAMAAFhozgAA
	AAAACAAAAAQDAABPac4AAAAAAAgAAAAEAwAAnnxmAQAAAAAIAAAABAMAABiIbAEAAAAA
	CAAAAAQDAACoomwBAAAAAAgAAAAEAwAAv6JsAQAAAAAoAAAAAQYAAOgAAAD4AAAACAEA
	ABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgBAAAIAAAAAAQAAEHA9EwRtwdtGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAgAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkCBo
	dAAAAAgAAAAABAAAQb/SD7M7pfMkAAAAAQEAAEEzOTU4OEZBLTM5MDItNDM3NC1CNEQx
	LUQ2NzBBQUNBMUNBMRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAC4AAAAAAAAAAUQAACI
	AQAAAAAAABAQAADIAQAAAAAAAEAQAAC4AQAAAAAAAAIgAACUAgAAAAAAAAUgAAAEAgAA
	AAAAABAgAAAUAgAAAAAAABEgAABIAgAAAAAAABIgAAAoAgAAAAAAABMgAAA4AgAAAAAA
	ACAgAAB0AgAAAAAAADAgAACgAgAAAAAAAAHAAADoAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAD4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
