<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Freitag, 11. Januar 2019 um 10:26:32 Mitteleuropäische Normalzeit</string>
			<key>fullDate</key>
			<date>2019-01-11T09:26:32Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/d045365/Documents/private/Abut/Resources/Video/iPhoneX/final/App-Vorschau.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>vqSf7/YGTTqdnUBX18ktbQ - 2019-01-11 09:25:23 +0000</string>
		</dict>
	</array>
</dict>
</plist>
